$Red_1_Rimac: #EF3340;
$Gray_1_Títulos : #494F66;
$Gray_2_Paragraph : #676F8F;

.two-Colunm{
    display: grid;
    grid-template-columns: 40vw 60vw;
}
.img-man-mobile{
    display: none;
}
.img-man{
    display: block;
    height: 90vh;
    width: 40vw;

}
.one{
 align-self: flex-end;
}
.two{
    justify-self: flex-end;
    align-self: center;
}

.btn-login {
    background-color: $Red_1_Rimac;
    width: 255px;
    height: 55px;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s opacity ease;
    font-size: 14px;
    text-decoration: none;
    margin-top: 40px;
    font-family: 'Lato';
    font-weight: bold;
}

.text-red{
    color: $Red_1_Rimac;
    font-weight: bold;
    width: 100%;
    line-height: 48px;
    font-size: 36px;
}
.text-gray{
    color: $Gray_1_Títulos;
    font-weight: bold;
    width: 70%;
    line-height: 48px;
    font-size: 36px;
}
.text-p{
    padding-top: 20px;
    font-size: 16px;
    line-height: 28px;
    width: 70%;
    color: $Gray_2_Paragraph;
    font-family: 'Roboto', sans-serif;
}
.text-spand{
    font-size: 16px;
    line-height: 28px;
    width: 70%;
    color: $Gray_2_Paragraph;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 767px) {
    .two-Colunm{
        grid-template-columns: 100vw;
        justify-items: center;
    }
    .img-man-mobile{
        display: block;
        width: 100vw;
    }
    .img-man{
        display: none;
    }

    .two{
        justify-items: center;
        width: 85vw;
        justify-self: center;
        display: grid;
        padding-top: 40px;
    }

    .btn-login {
        width: 100%;
    }
    .text-gray{
        width: 100%;
        line-height: 36px;
        font-size: 28px;
    }
    .text-red{
        line-height: 36px;

    }
    .text-p{
        width: 100%;
    }
}