.progress {
    background: #F7F8FC;
    display: grid;
    grid-template-columns: 100%;
    align-content: baseline;
    justify-items: center;
}
.text-step-1{
    display: none;
}



.borde_discontinuo{
    border-left: 1px dashed #C5CBE0;;
    height: 50px;
    margin: 1px 0px 1px 12px;
  }
  .horizontal {
    display: grid;
    font-size: 12px;
    grid-template-columns: 21% 73%;
}
  .circulo{
    width: 24px;
    height: 24px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid;
    color: #FFFFFF;
    margin-right: 15px;
    display: grid;
    background-color: #6F7DFF;
    justify-items: center;
    align-content: center;
  }
  .circulo2{
    width: 24px;
    height: 24px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #C5CBE0;
    color: #C5CBE0;
    margin-right: 15px;
    display: grid;
    justify-items: center;
    align-content: center;
  }
.datos{
    font-size: 16px;
    color: #494F66;
    font-weight: 900;
}

.plan{
    font-size: 16px;
    color: #A3ABCC;
}
.icon-back{
    display: none;
}
.ocultar{
    display: block;
    padding-top: 40px;
}
@media screen and (max-width: 767px) {
    .progress {
        background-color: #FFFFFF;
        display: grid;
        grid-template-columns: 51px 83px 172px;
        height: 48px;
        border-bottom: 1px solid #F0F2FA;
        align-content: center;
       
        align-items: center;
    }
    .text-step-1{
        color:#676F8F;
        font-size: 10px;
        display: block;
        font-weight: 900;
    }
    .linear{
        height: 6px;
        width: 175px;
        background-color: #E4E8F7;
        margin: 0px 10px 0px 10px;
        border-radius: 20px;
    }
    .linear-hijo{
        height: 6px;
        width: 45px;
        background-color: #6F7DFF;
        border-radius: 20px;
    }
    .linear2{

        height: 6px;
        width: 175px;
        background-color: #6F7DFF;
        margin: 0px 10px 0px 10px;
        border-radius: 20px;
    }
    .ocultar{
        display: none;
    }

    .icon-back{
        width: 24px;
        height: 24px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid;
        color: #F0F2FA;
        display: grid;
        align-content: center;
        justify-items: center;
    }
}

