@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" );

*,
*::before,
*::after {
  box-sizing: border-box;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
	font-weight: 500;
    color: #676F8F;
    font-size: 12px;
    margin: 0rem 1rem 0rem .5rem;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 50;
}



$Gray_3: #A3ABCC;
$Gray_1_Títulos:#494F66;
$Red_1_Rimac: #EF3340;
$Gray_2_Paragraph: #676F8F;

.MuiFormHelperText-root {
    font-family: 'Lato', sans-serif !important;
}


    .content {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

.content__header {
    background: url("../assets/img/fondoDesktop.jpg");
    height: 100vh;
    background-size: cover; 
}


.content__header__logo {
    width: 100%;
    background-color: #F7F8FC;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Roboto';
    color:'#$Gray_1_Títulos'
}

.div-header-home {
    width: 100%;
    background-color: #FFFFFF;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.13);
}

.form-login {

        display: grid;
        border-radius: 0px;
        width: 300px;
        height: 400px;
        justify-self: center;
}

.logo {
    margin: 1rem;
    padding-left: 70px;
}
.phone {
    margin-left: 1rem;
    height: 20px;
    width: 20px;
}

.logo-home {
    height: 2.5em;
    width: auto;
    margin: 2rem;
}

.input-form {
    height: 4em;
    width: 300px;
    margin: 15px;
}

.input-form2{
    height: 4em;
    width: 190px;
    border: 1px solid #FFFFFF;
}

.input-search-bar {
    height: 42px;
    width: 380px;
    margin-right: 50px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-bottom: 1px solid #9d9d9c;
    border-top: 1px solid #9d9d9c;
    border-right: 1px solid #9d9d9c;
    border-left: 0px;
    font-family: 'Univia Pro';
    font-size: 14px;
    font-weight: 100;
    color: #58595B;
}

:focus {
    outline: 0;
}
.search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.search-box2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.div-icon-search {
    width: 60px;
    height: 42px;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-bottom: 1px solid #9d9d9c;
    border-top: 1px solid #9d9d9c;
    border-left: 1px solid #9d9d9c;
    border-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-text {
    color: $Gray_1_Títulos;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 3vh;
    margin-top: 4vh;
    width: 300px;
}

    .div-login {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 15vh 85vh;
    }
.btn-login {
    background-color: #EF3340;
    width: 200px;
    height: 55px;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s opacity ease;
    font-size: 14px;
    text-decoration: none;
}
.div-terms{
    padding-left: -10px;
    width: 50px;
    display: grid;
    grid-template-columns: 50px 250px;
    padding-bottom: 1rem;
}

.btn-buscar-home {
    background-color: #009b3a;
    width: 88px;
    height: 42px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s opacity ease;
    font-size: 0.9em;
    margin: 2.5em;
    text-decoration: none;
}

.btn-login:hover {
    opacity: 0.6;
}

    .imagenPhone{
        margin-top: 1rem; 
        display: none
    }
    .phoneDesktop {
        display: grid;
        background-color: #FFFFFF;
        height: 10vh;
        margin-bottom: 3vh;
        grid-template-columns: 143px 33px 160px;
        align-self: end;
        justify-content: end;
    }

.mobile-login{
    font-size: 14px;
     color: #6769FF; 
     margin: 0rem 1rem 1rem 1rem 
}

.span{
    font-weight: 600;
    text-decoration: underline;
}
.terms{
    padding: 10px; 
    text-align: left; 
    font-size: 12px;
    color: $Gray_2_Paragraph 
}

.MuiFormHelperText-contained{
 margin-right: 0px !important;
}

.fontPhone{
    font-size: 14px;
    color: #6769FF; 
    margin: 0rem 1rem 0rem .5rem;
    font-weight: 500
}
.divForm{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
}

.margin{
    margin: 0px
}
.dni{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 109px;
    margin-bottom: 8px;
    border-radius: 4.02778px 0px 0px 4.02778px;
    color: $Gray_1_Títulos;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #C5CBE0;
    border-bottom: 1px solid #C5CBE0;
    border-left: 1px solid #C5CBE0;
    font-weight: 600;
}
.Icondni{
    color: $Red_1_Rimac;
}



@media screen and (max-width: 767px) {
     .imagenPhone {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        margin-top: 0rem;
    }
    .content {
        grid-template-columns: 1fr ;
        grid-template-rows: 40vh 60vh;
    }
       
       .phoneDesktop{
           display: none;
        }  

        .form-login {
            display: grid;
            width: 100vw;
            justify-items: center;
            padding-top: 42px;
        }

    .div-header-home {
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
    }

    .logo-home {
        height: 2em;
        width: auto;
        margin: 1.5rem;
    
    }
    
    .input-search-bar {
        height: 42px;
        width: 210px;
        margin-right: 0px;
        background-color: #FFFFFF;
    }

    .div-icon-search {
        width: 50px;
        height: 42px;
        margin-left: 20px;
    }

    .content__header{
        background: #FFFFFF;
    }
    
    .logo{
        padding-left: 20px;
    }

    .div-terms{
        padding-left: 10px;
        width: 350px;
        display: grid;
        grid-template-columns: 50px 250px;
        padding-bottom: 1rem;
    }
    .btn-login {
        width: 300px; 
    }
    
}